html {
    background: var(--White);
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}


/* style needed for rcl headerbar alignment */
.left-aligned-elts {
    margin-right: auto;
}

/* style needed for rcl headerbar alignment */
.right-aligned-elts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.redText {
    color: #e80a48;
}

.pageHeaderTitle {
    margin: 12px 0px;
    padding: 0;
    font-size: 40px;
}

/* ---------------------------------------
 *    apply button link focus styles
 * --------------------------------------- */
 .buttonStyle:focus  {
    outline: 3px solid var(--BlueVivid);
    outline-offset: 0;
    background: var(--BlueDark);
}


@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-extralight-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-extralight-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-ExtraLight.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-ExtraLight.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-extralightit-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-extralightit-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-ExtraLightIt.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-ExtraLightIt.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-light-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-light-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-Light.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-Light.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-lightit-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-lightit-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-LightIt.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-LightIt.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-regular-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-regular-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-Regular.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-Regular.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-it-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-it-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-It.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-It.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-semibold-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-semibold-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-Semibold.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-Semibold.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-semiboldit-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-semiboldit-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-SemiboldIt.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-SemiboldIt.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-bold-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-bold-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-Bold.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-Bold.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-boldit-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-boldit-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-BoldIt.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-BoldIt.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-black-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-black-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-Black.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-Black.ttf')
            format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Sans Pro'),
        url('../fonts/source-sans-pro/WOFF2/sourcesanspro-blackit-optimized.woff2')
            format('woff2'),
        url('../fonts/source-sans-pro/WOFF/sourcesanspro-blackit-optimized.woff')
            format('woff'),
        url('../fonts/source-sans-pro/orig/OTF/SourceSansPro-BlackIt.otf')
            format('opentype'),
        url('../fonts/source-sans-pro/TTF/SourceSansPro-BlackIt.ttf')
            format('truetype');
}



